@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 15px;
}

.aside{
    width: 25%;
    background-color: #F6F6F6;
    /* margin-right: 20px; */
}

.section{
    width: 75%;
    flex-direction: column;
}

.item-group{
    width: 100%;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.item-cont{
    width: 30%;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;

}

.item-cont img{
    width: auto;
}

.item-cont p{
    font-size: 14px;
    margin-bottom: 5px;
}

.item-cont .item-brand{
    color: #4a5050;
}

.item-cont .item-price{
    font-size: 25px;
    display: flex;
    align-items: center;
}

.item-cont .item-price span{
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin-top: -8px;
    color: #4a5050;
    font-size: 12px;
}



/* large mobile coding start */

@media screen and (max-width: 425px){
    .container{
        width: 100%;
    }
}

/* large mobile coding end */

/* medium mobile coding start */

@media screen and (max-width: 375px){
    .container{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* medium mobile coding end */


/* tablate coding start */

@media screen and (max-width: 768px){

    .main{
        flex-direction: column;
    }

    .aside, .section{
        width: 100%;
    }
}

/* tablate coding end */